@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700;800&display=swap');

body {
    margin: 0;
}

section {
    height: 100vh;
}

.secao1 h1 {
    position: absolute;
    width: 522px;
    height: 161px;
    left: 115px;
    top: 180px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 160%;
    color: #FFFFFF;
}

.secao1 p {
    position: absolute;
    width: 403px;
    height: 64px;
    left: 115px;
    top: 400px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    color: #FFFFFF;
}

.secao1 {
    position: relative;
    width: 1400px;
    height: 728px;
    background: #116CFF;
}

.navegacao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 598px;
    height: 39px;
    left: 403px;
    top: 40px;
}

a {
    position: static;
    width: 120px;
    height: 19px;
    left: 10px;
    top: 10px;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #FFFFFF
}

.button1 {
    text-align: center;
    margin-top: 50px;
    position: static;
    width: 104px;
    height: 39px;
    margin-left: 900px;
    border: none;
    background: #FFFFFF;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #116CFF;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0px;
}

.logo {
    position: absolute;
    width: 129.32px;
    height: 37px;
    left: 115px;
    top: 53px;
}

.cabecalho2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

article {
    width: 500px;
    margin-left: 30px;
    margin-top: 160px;
}

.button2 {
    position: absolute;
    width: 200px;
    height: 52px;
    left: 115px;
    margin-top: 280px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #116CFF;

}

.button3 {
    position: absolute;
    width: 200px;
    height: 52px;
    left: 335px;
    top: 530px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    background-color: #116CFF;
    color: #FFFFFF;

}

.imagem1 {
    position: absolute;
    margin-left: 560px;
    margin-top: 450px;
}

.imagem2 {
    position: absolute;
    margin-left: 550px;
    margin-top: 455px;
    height: 385px;
}

.imagem3 {
    position: absolute;
    margin-left: 900px;
    top: 160px;

}

.imagem4 {
    position: absolute;
    margin-left: 120px;
    margin-top: 850px;
}

.estrela {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 760px;
    margin-top: 65px;
}

.estrela2 {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 1170px;
    top: 578px;
}

.logical-thinking {
    position: relative;
    width: 1400px;
    height: 714px;
    background: #FFFFFF;
}

.logical-thinking article {
    width: 630px;
}

.logical-thinking h1 {
    position: absolute;
    width: 630px;
    height: 120px;
    left: 650px;
    top: 145px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #00235C;

}

.logical-thinking p {
    position: absolute;
    width: 561px;
    height: 160px;
    left: 650px;
    top: 310px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #00235C;
}

.logical-thinking img {
    padding: 50px;
    left: 45px;
    top: 68px;
}

.preparing-your-kids {
    position: absolute;
    width: 1400px;
    height: 718px;
    background: #116CFF;
}


.preparing-your-kids h1 {
    position: absolute;
    width: 570px;
    height: 180px;
    left: 150px;
    top: 163px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #FFFFFF;


}

.preparing-your-kids p {
    position: absolute;
    width: 526px;
    height: 120px;
    left: 150px;
    top: 390px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #FFFFFF;
}

.preparing-your-kids img {
    position: absolute;
    width: 585px;
    height: 598px;
    left: 742px;
    top: 50px;
}

.testimony {
    position: absolute;
    width: 1400px;
    height: 718px;
    top: 2120px;
    background: #FFFFFF;
}

.testimony h1 {
    position: absolute;
    width: 185px;
    height: 50px;
    left: 140px;
    top: 35px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #116CFF;
}


.primeiro {
    position: absolute;
    width: 549px;
    height: 189px;
    left: 140px;
    top: 180px;
}

.segundo {
    position: absolute;
    width: 543px;
    height: 193px;
    left: 140px;
    top: 390px;
}

.terceiro {
    position: absolute;
    width: 543px;
    height: 189px;
    left: 760px;
    top: 180px;
}

.quarto {
    position: absolute;
    width: 543px;
    height: 189px;
    left: 760px;
    top: 390px;
}

.fundo {
    position: absolute;
    width: 1051px;
    height: 667.53px;
    left: 305px;
    top: 0px;
}

.tabela {
    position: relative;
    width: 1400px;
    height: 728px;
    top: 780px;
    background: #116CFF;
}

.tabela h1 {
    position: absolute;
    width: 172px;
    height: 50px;
    left: 100px;
    top: 75px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #FFFFFF;
}

.tabela h2 {
    position: absolute;
    width: 288px;
    height: 30px;
    left: 24px;
    top: -140px;
}

.superior {
    position: absolute;
    width: 1166px;
    height: 150px;
    left: 100px;
    top: 195px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px 10px 0px 0px;
}

.table {
    position: absolute;
    width: 1166px;
    height: 320px;
    left: 0px;
    top: 150px;
    background: #FFFFFF;
}

h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #00235C;
}

.estrelasd {
    position: relative;
    width: 18px;
    height: 20px;
    left: 21px;
    top: -62px;
}

.etiqueta {
    position: absolute;
    left: 540px;
    top: 25px;
}

.timer {
    position: absolute;
    left: 740px;
    top: 25px;
}

.pessoas {
    position: absolute;
    left: 540px;
    top: 85px;
}

.not {
    position: absolute;
    left: 740px;
    top: 88px;
}

.month {
    position: absolute;
    left: 570px;
    top: 10px;
    font-family: 'Inter';
    font-size: 16px;
    color: #00235C;
}

.meet {
    position: absolute;
    left: 775px;
    top: 12px;
    font-family: 'Inter';
    font-size: 16px;
    color: #00235C;
}

.kids {
    position: absolute;
    left: 575px;
    top: 70px;
    font-family: 'Inter';
    font-size: 16px;
    color: #00235C;
}

.online {
    position: absolute;
    left: 775px;
    top: 70px;
    font-family: 'Inter';
    font-size: 16px;
    color: #00235C;
}

.button5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    width: 135px;
    height: 50px;
    left: 1015px;
    top: 54px;
    border-radius: 10px;
    background-color: #116CFF;
    border: none;
    color: #FFFFFF;
}

h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #116CFF;
}

.estrelaa {
    position: absolute;
    width: 120px;
    height: 20px;
    left: 720px;
    top: 378px;
}

.primeira {
    position: relative;
    width: 327px;
    height: 65px;
    left: 124px;
    top: 370px;
}

.estrelab {
    position: absolute;
    width: 120px;
    height: 20px;
    left: 720px;
    top: 460px;
}

.valor {
    position: absolute;
    font-weight: 700;
    font-size: 20px;
    width: 67px;
    height: 30px;
    left: 1150px;
    top: 350px;
    color: #00235C;
}

.valor1 {
    position: absolute;
    font-weight: 700;
    font-size: 20px;
    height: 30px;
    left: 1150px;
    top: 430px;
    color: #00235C;
}

.valor2 {
    position: absolute;
    width: 50px;
    height: 30px;
    left: 1150px;
    top: 500px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #FF463A;
}

.estrelac {
    position: absolute;
    width: 120px;
    height: 20px;
    left: 720px;
    top: 540px;
}

.new {
    position: absolute;
    width: 47px;
    height: 25px;
    left: 298px;
    top: 530px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    background: #FFE6E5;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FF463A;
}


.formulario {
    position: absolute;
    width: 1400px;
    height: 1104px;
    left: 0px;
    top: 3600px;
}


.amarelo1 {
    position: absolute;
    width: 63px;
    height: 94px;
    left: 387px;
    top: 4px;
}

.formulario h2 {
    position: absolute;
    width: 411px;
    height: 96px;
    left: 478px;
    top: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    color: #00235C;
}

.amarelo2 {
    position: absolute;
    width: 39.54px;
    height: 59px;
    left: 927px;
    top: 115px;
}

.fone {
    position: absolute;
    width: 139px;
    height: 97px;
    left: 1135px;
    top: 277px;
}

.nomes {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    left: 350px;
    top: 250px;
    color: #00235C;
}

.ret {
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: absolute;
    width: 394px;
    height: 52px;
    left: 562px;
    top: 250px;
}

.register {
    position: absolute;
    width: 200px;
    height: 52px;
    left: 756px;
    top: 562px;
    background: #116CFF;
    border-radius: 10px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.rodape {
    position: relative;
    width: 1397px;
    height: 363px;
    top: 1223px;
    background: #00235C;
}

.fundo2 {
    position: absolute;
    width: 485px;
    height: 349px;
    left: 5px;
    top: 15px;
}

.logo2 {
    position: absolute;
    width: 129.32px;
    height: 37px;
    left: 110px;
    top: 100px;
}

.illinois {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    position: absolute;
    width: 377px;
    height: 18px;
    top: 158px;
    left: 110px;
    color: #FFFFFF;
}

.coding {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    position: absolute;
    width: 208px;
    height: 18px;
    left: 110px;
    top: 200px;
    color: #FFFFFF;
}

.logotipos {
    position: absolute;
    width: 192px;
    height: 18px;
    left: 95px;
    top: 265px;
    display: flex;
    justify-content: space-around;
}

.icones {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 600px;
    top: 87px;
    color: #FFFFFF;
}

.company {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: #116CFF;
}

.class {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 750px;
    top: 87px;
    color: #FFFFFF;
}

.information {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 950px;
    top: 87px;
    color: #FFFFFF;
}

.activity {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 1100px;
    top: 87px;
    color: #FFFFFF;
}